*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}
h3{
    font-size: 2rem;
    flex-wrap: nowrap;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    z-index: 1000;
    align-items: center;
    height: 5rem;
    font-size: 1.5rem;
    padding: 2rem 10%;
}

.navbar a{
    padding: 0% 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.menu,
#close {
 display: none;
}


@media (max-width:950px) {
    .menu{
        display: block;
    }
    .header{
        background-color: #f0f0f0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 5%;
    }
    .navbar{
        /* height: 0;
        overflow: hidden; */
        display: none;
    }
    
    .showlink{
        position: fixed;
        margin-top: 15rem;
        left: 0;
        height: 12rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .navbar a{
        padding-top: 1rem;

    }
    .navbar a:hover{
    background-color: rgb(232, 223, 223);
 }

}

